@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,600&display=swap");
* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

.sidebar-mobil {
  display: none;
}

.sidebar, .logo {
  position: fixed;
  top: 0;
  left: 0%;
  width: 20%;
  height: 100vh;
  background: #010003;
  font-size: 0.65em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.nav {
  position: relative;
  margin: 0 4%;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  margin-top: 50%;
}

.nav ul li {
  position: relative;
  margin: 2.5em 0;
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.85);
  display: block;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.nav ul li.active a {
  color: #ffffff;
}

.nav ul li:not(.active):hover a {
  color: #FF1214;
}

.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f0e3e3), color-stop(#a79f9f), to(#FF1214));
  background-image: linear-gradient(to right, #f0e3e3, #a79f9f, #FF1214);
}

a {
  position: relative;
}

.logo {
  position: absolute;
  top: 8px;
  left: 35px;
  width: 90px;
  height: 24%;
  border-radius: 50%;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.social-media {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  margin-top: 68%;
  margin-left: 15%;
  background-attachment: fixed;
}

.social-media .icon {
  width: 55%;
}

.btn {
  margin-left: 80%;
}

hr {
  margin-left: 22%;
}

.card, .img-fluid, .card-body {
  margin-left: 60%;
  color: #010003;
}

.title {
  font-size: 12px;
  width: 270px;
  color: #FF1214;
}

p {
  width: 340px;
  text-indent: 4%;
  color: #a79f9f;
  text-transform: none;
  font-weight: normal;
  text-align: left;
}

label {
  position: relative;
}

.cmt {
  color: #010003;
  font-weight: bold;
  letter-spacing: normal;
}

.cmt:hover {
  color: #FF1214;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

label input {
  margin-left: -38px;
  font-size: 1rem;
  color: #010003;
  outline: none;
  padding: .8rem 1rem;
  width: 19rem;
  border-radius: 3px;
  border: 2px solid rgba(5, 42, 78, 0.2);
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14.3px;
  }
  .sidebar-mobil {
    display: none;
  }
  .sidebar {
    height: 100%;
    font-size: 0.7em;
  }
  .nav {
    margin: 0 4%;
  }
  .nav ul {
    margin-left: 0;
    margin-top: 67%;
    padding-left: 20px;
  }
  .nav ul li {
    margin: 2.2em 0;
  }
  .logo {
    width: 87px;
    height: 20%;
  }
  .social-media {
    margin-top: 40%;
    margin-left: 12%;
  }
  .social-media .icon {
    width: 53%;
  }
}

@media (max-width: 960px) {
  .sidebar {
    width: 21%;
  }
}

@media (max-width: 875px) {
  .sidebar {
    font-size: .8em;
    width: 23%;
  }
}

@media (max-width: 780px) {
  .nav ul {
    margin-left: 0;
    margin-top: 47%;
    padding-left: 6px;
    font-size: 7.8px;
  }
  .sidebar {
    width: 21%;
  }
  .logo {
    width: 66px;
    height: 15%;
  }
  .icon {
    width: 59%;
  }
}

@media (max-width: 760px) {
  .nav ul {
    margin-top: 53%;
    font-size: 9.8px;
  }
  .sidebar .icon {
    margin-top: 68%;
  }
  h1 {
    margin-left: 28%;
    width: 100%;
  }
  .btn {
    margin-left: 130%;
  }
  hr {
    width: 110%;
    margin-left: 42%;
  }
  .card, .img-fluid, .card-body {
    margin-right: 30%;
    margin-left: 60%;
    color: #010003;
  }
  .title {
    font-size: 12px;
    width: 270px;
    color: #FF1214;
  }
}

@media (max-width: 610px) {
  .social-media {
    margin-top: 64%;
    margin-left: 12%;
  }
  .social-media .icon {
    width: 63%;
  }
  h1 {
    margin-left: 35%;
    font-size: 28px;
    width: 90%;
  }
  .btn {
    margin-left: 140%;
  }
  hr {
    width: 130%;
    margin-left: 47%;
  }
  .title {
    font-size: 16px;
    margin-left: 70%;
  }
  p {
    width: 440px;
    text-indent: 4%;
    color: #a79f9f;
  }
  label {
    font-size: 15px;
  }
  label input {
    margin-left: -53px;
    width: 27rem;
  }
}

@media (max-width: 470px) {
  .sidebar {
    font-size: .8em;
    width: 24.5%;
  }
  .logo {
    width: 72px;
    height: 13%;
  }
  .nav ul {
    padding-left: 6%;
    margin-top: 80%;
  }
  .icon {
    width: 59%;
  }
  .social-media {
    margin-top: 64%;
    margin-left: 12%;
  }
  .social-media .icon {
    width: 57%;
  }
  h1 {
    margin-left: 49%;
  }
  .btn {
    margin-left: 148%;
  }
  hr {
    margin-left: 48%;
  }
}

@media (max-width: 420px) {
  .nav {
    display: none;
  }
  .social-media {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar-mobil {
    position: fixed;
    top: 0;
    left: 0%;
    width: 13%;
    height: 100%;
    background: #010003;
    font-size: 0.69em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .nav-mobil ul {
    list-style: none;
    margin-top: 70%;
    margin-left: 0;
  }
  .nav-mobil ul li {
    position: relative;
    margin: 2.5em 0;
  }
  .nav-mobil ul li a {
    margin-left: -12%;
    line-height: 6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.85);
    display: block;
    -webkit-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
  }
  .nav-mobil ul li a .accueil {
    width: 65%;
    margin-top: 40%;
  }
  .nav-mobil ul li:not(.active):hover a {
    color: #FF1214;
  }
  a {
    position: relative;
  }
  .logo {
    position: absolute;
    top: 8px;
    left: 25px;
    width: 52px;
    height: 7%;
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
    -webkit-filter: saturate(150%);
            filter: saturate(150%);
  }
  .social-media-mobil {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 20%;
    margin-left: 25%;
    background-attachment: fixed;
  }
  .social-media-mobil .icon {
    width: 60%;
  }
}
/*# sourceMappingURL=stylewiewposts.css.map */